.new-register--otp {
  &__edit {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}

@media (min-width: $xl) {
  .new-register--otp {
    &__form {
      gap: 3rem;
    }
  }
}
