.usages-slider-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 56px;
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
  &__swiper {
    width: 100vw;
  }
}
.swiper {
  position: relative;
  .swiper-button-next.swiper-button-next--usage {
    position: absolute;
    background: #f2f4f8;
    width: 32px;
    height: 32px;
    border-radius: 38px;
    left: 3rem;
    cursor: pointer;

    &::after {
      content: url("/images/arrowL&R.svg");
      position: absolute;
      top: -14px;
    }
  }
  .swiper-button-prev--usages.swiper-button-prev--usage {
    background: #f2f4f8;
    width: 32px;
    height: 32px;
    border-radius: 38px;
    transform: rotate(180deg);
    cursor: pointer;

    &::after {
      content: url("/images/arrowL&R.svg");
      position: absolute;
      top: -14px;
    }
  }
}

@media (min-width: $md) {
  .swiper {
    .swiper-button-next.swiper-button-next--usages {
      left: 9rem;
    }
  }
}
