@import "./NavbarItems/NavbarItems.scss";

.navbar__header {
  display: none;

  // &--list {
  //   @extend .flex-space;
  //   max-width: 30rem;

  //   &-link {
  //     @extend .flex-center;
  //   }

  //   &-item {
  //     font-size: 17px;
  //     font-weight: 700;
  //   }

  //   &-img {
  //     margin-right: 0.6rem;
  //     width: auto;
  //   }
  // }
}

@media (min-width: 1024px) {
  .navbar__header {
    display: block;
    flex: 1;
  }
}