.user-profile {
  width: 100%;
  .base-dropdown-items.user-profile-items.base-dropdown-items--open {
    text-align: center !important;
    width: 14rem !important;
    text-align: right !important;
  }
}
