.webapp-breadCrumb {
  width: 320px;
}
.designer-profile-breadCrumb {
  margin-bottom: 2rem;
}
.base-breadcrumb__item {
  font-size: 14px;
}
.previous-icon {
  background-image: url("/assets/icons/Previous.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}
