.base-form-item {
  position: relative;
  // &--spaced {
  //   margin-top: 35px;
  // }


  &__message {
    position: absolute;
    bottom: -22px;
    left: 0;
  }
}

@media (min-width: $sm) {
  .base-form-item {
    position: relative;

    &__message {
      position: absolute;
      bottom: -25px;
      left: 0;
    }
  }
}

// For Example (we must use these on wrapper components)
// @media (min-width: $md) {}

// @media (min-width: $lg) {}

// @media (min-width: $xl) {}

// @media (min-width: $xl2) {}
