.TextAreaFormItemSecondary {
  width: 100%;
  height: 100%;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;

  &__header {
    padding: 18px 26px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);

    &--title {
      font-weight: 500;
      font-size: 14px;
      color: #212121;
    }
  }

  &--spaced {
    margin-top: 35px;
  }

  &--required {
    color: $danger;
    padding: 0 5px;
  }

  &__body {

    >div,
    textarea {
      padding: 0;
      border-radius: 0;
    }

    textarea {
      border: none;
      padding: 16px 24px;
      font-weight: 400;
      font-size: 14px;
      color: #616161;
    }
  }

  &__message {
    position: absolute;
    bottom: -22px;
    right: 0;
  }

  &--danger {
    border-color: $primary;
    border-width: 2px;

    .TextAreaFormItemSecondary {
      &__header {
        border-color: $primary;

        &--title {
          color: $primary;
        }
      }

      &__message {
        color: $primary;
      }
    }
  }
}

@media (min-width: $sm) {
  .TextAreaFormItemSecondary {
    &--spaced {
      margin-top: 45px;
    }

    &__message {
      position: absolute;
      bottom: -25px;
      right: 0;
      font-size: 1.2rem;
    }
  }
}

@media (min-width: $md) {
  .TextAreaFormItemSecondary {

    &__message {
      font-size: 1.4rem;
    }

  }
}