.new-forget-password--new-password {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
  }
}

@media (min-width: $xl) {
  .new-forget-password--new-password {
    &__form {
      margin-bottom: 3rem;
    }
  }
}
