.new-project__btn__wrapper {
  cursor: pointer;
  position: relative;
  color: $tagBG;
  margin-inline: 2rem;
  display: none;

  .new-project__btn {
    width: 16rem;
    height: 5rem;
    background: #12499f;
    font-size: 1.8rem;
    border-radius: 3.6rem;
  }
  .new-project__btn--icon {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
  }
}

@media (min-width: $md) {
  .new-project__btn__wrapper {
    display: block;
  }
}
