.intro-header__right--heading {
  font-size: 4rem;
  font-weight: 900;
  line-height: 7rem;
  color: $introHeading;
}
.intro-header__right--description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  margin-block: 0.8rem 2.4rem;
  color: $introDes;
  max-width: 30rem;
}

@media (min-width: $md) {
  .intro-header__right--heading {
    font-size: 6.4rem;
    font-weight: 900;
    line-height: 96px;
    color: $introHeading;
  }
  .intro-header__right--description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    margin-block: 0.8rem 2.4rem;
    color: $introDes;
    max-width: 40rem;
  }
}

@media (min-width: $lg) {
}
