.DashboardTextArea {
  resize: none;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 16px 10px;
  font-weight: 400;
  font-size: 14px;
  color: #616161;
}
.DashboardTextArea_wrapper {
  padding: 16px 10px;
  border-radius: 4px;
}
