@import "./Items/Items.scss";
.usages-slider {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1rem;
  &__details {
    display: flex;
    justify-content: space-between;

    &--heading {
      font-size: 20px;
      font-weight: 700;
      color: #343a3f;
    }
    &--link {
      font-size: 14px;
      font-weight: 700;
      color: #12499f;
      text-decoration: underline;
    }
  }
}
