.new-auth-countdown {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: $newHighEmphasis;
  display: flex;
  justify-content: center;

  &__resend-button {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.4rem;
    color: $primary;
  }

  &__remaining-time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }

  &__label {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.4rem;
    color: $newLowEmphasis;
    font-family: $secondary-font !important;

  }

  &__value {
  }
}
