.geo-patterns {
  //   position: relative;

  &--top,
  &--bottom {
    position: absolute;
    width: 120px;
    height: 120px;
  }

  &--top {
    position: absolute;
    top: 0;
    left: 0;
  }

  &--bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
