.new-login--password {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    font-family: $secondary-font !important;

  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
        font-family: $secondary-font !important;

  }

  &__password-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
        font-family: $secondary-font !important;

  }

  &__forget-password {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-decoration: underline;
    text-align: right;
    color: $primary;
    display: inline;
    width: fit-content;
    font-family: $secondary-font !important;

  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-family: $secondary-font !important;

  }

  &__action-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    font-family: $secondary-font !important;

  }
}
