// color variable

$primary: #12499f;
$success: #00c853;
$warning: #ffc107;
$danger: #e91d4b;

// new version color
$newButtonColor: #ffffff;
$newBorder: #cacbce;
$newMediumEmphasis: rgba(6, 25, 55, 0.56);
$newHighEmphasis: rgba(6, 25, 55, 0.88);
$newLowEmphasis: rgba(6, 25, 55, 0.24);
$newBorderActive: #86b7c0;
$newDanger: #f24e42;

// auth input
$authInputColor: #616161;
$authInputBackground: #fafafa;
$authInputBorderColor: #ede7f6;

// button color
$authButtonColor: #ffffff;

// uploader border color
$uploaderBorderColor: #e3f2fd;
$uploaderFormItemTitle: #212121;
$uploaderFormItemDescription: #616161;
$uploaderPrimaryBackgroundColor: #2196f3;
$uploaderPreviewPrimaryBackgroundColor: #90caf9;

// tag
$tagBorder: #dde1e6;
$tagBG: #f2f4f8;

// dashboard input
$dashboardInputBackgroundColor: #fafafa;
$dashboardInputBorderColor: #000000;
$dashboardFormItemLabelColor: #616161;

// dashboard select
$dashboardSelectPlaceholder: #808080;
$dashboardSelectIcon: #cccccc;

// text
$introHeading: #121619;
$introDes: #343a3f;
$placeholder: #697077;
$descriptionBlog: #333333;
$avatarBg: #c4c4c4;
$time: #a2a9b0;
$blog-text: #21272a;
