.dashboard-breadCrumb {
  width: 320px;
}
.base-breadcrumb__item {
  font-size: 14px;
}
.backward-icon {
  background-image: url("/assets/icons/Backward.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}
